{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block body %}
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>This is a blog created using python framework FLASK <a href="http://flask.palletsprojects.com/en/1.1.x/"> Flask documentation </a> and <a href="https://docs.sqlalchemy.org/en/13/">  SQAlchemy documentation </a></p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Go To Posts&raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}
